
<div class = "container">
      <div class = "row">
          <div class = "col-sm-12 col-mg-12 col-lg-12 px-sm-0">
              <h5 class = "col-lg-3 m-3 font-weight-bold">
                投稿詳細
              </h5>
                <div class = "row font-weight-bold align-items-center">
                  <div class = "col-sm-6 col-mg-4 col-lg-2 font-weight-bold align-items-center">
                    <%= link_to admin_articles_path, class:"btn btn-primary m-3 " do %>
                    <i>投稿一覧</i>
                    <% end %>
                  </div>
                    <div class = "col-sm-6 col-mg-4 col-lg-2 font-weight-bold align-items-center">
                      <%= link_to admin_article_path(@article), class:"btn btn-danger m-3 ", method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                      <i>削除</i>
                      <% end %>
                    </div>
                </div>
                  
                  <div class = "row">
                    <div class = "col-sm-12 col-mg-8 col-lg-7">
                      <table class = "table table-bordered">
                        <tr>
                          <th>投稿画像</th>
                          <td>
                              <% if @article.store_image.attached? %>
                                <%= image_tag @article.store_image, size: "100x100" %>
                              <% else %>
                                <%= image_tag "store-no-image.jpg", size: "100x100" %>
                              <% end %>
                          </td>
                        </tr>
                        <tr>
                          <th>お店の名前</th>
                          <td><%= @article.store_name %></td>
                        </tr>
                       <tr>
                          <th>お店の住所</th>
                          <td><%= @article.address %></td>
                        </tr>
                        <tr>
                          <th>美味しさ</th>
                          <td>
                            <div id="rate_delicious<%= @article.id%>"></div>
                              <script>
                                $('#rate_delicious<%= @article.id%>').raty({
                                  size      : 36,
                                  starOff   : '<%= asset_path('star-off.png') %>',
                                  starOn    : '<%= asset_path('star-on.png') %>',
                                  starHalf  : '<%= asset_path('star-half.png') %>',
                                  half      : true,
                                  readOnly: true,
                                  score: <%= @article.rate_delicious %>,
                                });
                              </script>
                          </td>
                        </tr>
                        <tr>
                          <th>雰囲気</th>
                          <td>
                            <div id="rate_atmospher<%= @article.id%>"></div>
                              <script>
                                $('#rate_atmospher<%= @article.id%>').raty({
                                  size      : 36,
                                  starOff   : '<%= asset_path('star-off.png') %>',
                                  starOn    : '<%= asset_path('star-on.png') %>',
                                  starHalf  : '<%= asset_path('star-half.png') %>',
                                  half      : true,
                                  readOnly: true,
                                  score: <%= @article.rate_atmospher %>,
                                });
                              </script>
                          </td>
                        </tr>
                        <tr>
                          <th>コストパフォーマンス</th>
                          <td>
                            <div id="rate_cost<%= @article.id%>"></div>
                              <script>
                                $('#rate_cost<%= @article.id%>').raty({
                                  size      : 36,
                                  starOff   : '<%= asset_path('star-off.png') %>',
                                  starOn    : '<%= asset_path('star-on.png') %>',
                                  starHalf  : '<%= asset_path('star-half.png') %>',
                                  half      : true,
                                  readOnly: true,
                                  score: <%= @article.rate_cost %>,
                                });
                              </script>
                          </td>
                        </tr>
                         <tr>
                          <th>紹介文</th>
                          <td>
                            <%= @article.store_comment %>
                          </td>
                        </tr>
                         <tr>
                          <th>タグ</th>
                          <td>
                            <%= @tags %>
                          </td>
                        </tr>
                     </table>
                     <div class = "row">
                          <p>♥<%= @article.likes.count %> いいね</p>
                     </div>
                  </div>       
               </div> 
                     
              <div class = "row">
                  <div class  = "col-sm-12 col-mg-12 col-lg-12">
                    コメント件数：<%= @article.comments.count %>
                  </div>
                  <!--投稿に関するコメントを表示-->
                  <% @article.comments.each do |comment| %>
                  <div class  = "col-sm-12 col-mg-12 col-lg-12">
                    <div class = "row"> 
                      <div class  = "col-sm-12 col-mg-4 col-lg-2">
                        <% if comment.user. profile_image.attached? %>
                          <%= image_tag comment.user.profile_image, size: "100x100" %>
                        <% else %>
                          <%= image_tag "store-no-image.jpg", size: "100x100" %>
                        <% end %>
                      </div>
                      <div class  = "col-sm-12 col-mg-9 col-lg-8">
                          <%= comment.user.full_name %><%= comment.created_at.strftime('%Y/%m/%d') %><br>
                          <%= comment.comment %><br>
                          <%= link_to "削除", admin_article_comment_path(comment.article, comment), method: :delete %>
                      </div>
                    </div>
                  </div>
                  
                <% end %>
              </div>


      </div>
    </div>
  </div>