<div class = "container">
    <!--ユーザーのプロフィール情報-->
    <div class = "row">
        <div class = "col-sm-12 col-md-2 col-lg-2 mt-1 mb-1", style="background-color: #ffe4c4;">
          <div class = "m-2 font-weight-bold"><%= @user.last_name %><%= @user.first_name %>さんのページ</div>
             <% if @user.profile_image.attached? %>
             <%= image_tag @user.profile_image, size: "100x100" %>
             <% else %>
             <%= image_tag "no_image.jpg", size: "100x100" %>
             <% end %>
        </div>
        
        <!--ユーザーの投稿一覧-->
        <div class = "col-sm-12 col-md-8 col-lg-8">
          <h6><%= @user.last_name %>さんの投稿</h6>
            <% @user_articles.each do |articles| %>
                <div class = "row m-1 border-top">
                    <div class = "col-sm-12 col-md-4 col-lg-2">
                      <div class = "row mt-1">
                             <% if articles.store_image.attached? %>
                               <%= image_tag articles.store_image, size: "100x100" %>
                             <% else %>
                               <%= image_tag "store-no-image.jpg", size: "100x100" %>
                             <% end %>
                       </div> 
                    </div>
                    <div class = "col-sm-12 col-md-4 col-lg-6 small">
                        <div class = "row">
                          投稿日 : <%= articles.created_at.strftime('%Y/%m/%d') %>
                        </div>
                        <div class = "row">
                               店名 :
                            <%= link_to public_store_article_path([articles.store], [articles]) do %>
                               <%= articles.store_name %>
                            <% end %>
                        </div>
                        <div class = "row">
                           紹介文 : <%= articles.store_comment %>
                        </div>
                        <div class = "row">
                          美味しさ : <div id="rate_delicious<%= articles.id%>"></div>
                          <script>
                            $('#rate_delicious<%= articles.id%>').raty({
                              size      : 36,
                              starOff   : '<%= asset_path('star-off.png') %>',
                              starOn    : '<%= asset_path('star-on.png') %>',
                              starHalf  : '<%= asset_path('star-half.png') %>',
                              half      : true,
                              readOnly: true,
                              score: <%= articles.rate_delicious %>,
                            });
                          </script>
                        </div>
                        <div class = "row">
                           雰囲気 : <div id="rate_atmospher<%= articles.id%>"></div>
                            <script>
                                $('#rate_atmospher<%= articles.id%>').raty({
                                  size      : 36,
                                  starOff   : '<%= asset_path('star-off.png') %>',
                                  starOn    : '<%= asset_path('star-on.png') %>',
                                  starHalf  : '<%= asset_path('star-half.png') %>',
                                  half      : true,
                                  readOnly: true,
                                  score: <%= articles.rate_atmospher %>,
                                });
                            </script>
                        </div>
                        <div class = "row">
                           コストパフォーマンス : <div id="rate_cost<%= articles.id%>"></div>
                            <script>
                                $('#rate_cost<%= articles.id%>').raty({
                                  size      : 36,
                                  starOff   : '<%= asset_path('star-off.png') %>',
                                  starOn    : '<%= asset_path('star-on.png') %>',
                                  starHalf  : '<%= asset_path('star-half.png') %>',
                                  half      : true,
                                  readOnly: true,
                                  score: <%= articles.rate_cost %>,
                                });
                          </script>
                        </div>
                 
                  </div>
              </div> 
             <% end %>   
             <%= paginate @user_articles %>
        </div>
        
    </div>
</div>