<!DOCTYPE html>
<html>
  <head>
    <title>FavoriteCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class = "navbar navbar-expand-lg navbar-dark", style="background-color: #CB914C;">
          
          
            <a class = "rogo_image">
            <%= link_to root_path do %>
            <%= image_tag 'favorite_cafe.png',  size: "140x70" %>
            <% end %>
            </a>
          
           <ul class = "navbar-nav ml-auto m-2">
             <!--ユーザーや管理者がログインをしているか確認-->
              <% if user_signed_in? %>
                <li>
                  <%= link_to public_users_my_page_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-home"></i>マイページ
                  <% end %>
                </li>
                <li>
                  <%= link_to new_public_store_path, class: "nav-link text-dark" do %>
                  <i class = "far fa-edit"></i>新規投稿
                  <% end %>
                </li>
                 <li>
                  <%= link_to public_articles_path, class: "nav-link text-dark" do %>
                  <i class = "far fa-comments"></i>投稿一覧
                  <% end %>
                </li>
                <li>
                  <!--検索リンク-->
                  <%= link_to public_search_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-search"></i>検索
                  <% end %>
                </li>
                 <li>
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-dark" do %>
                  <i class = "fas fa-sign-out-alt"></i>ログアウト
                  <% end %>
                </li>
                
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to admin_users_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-address-book"></i>会員一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_articles_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-comments"></i>投稿一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_tags_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-tag"></i>タグ一覧
                  <% end %>
                </li>
                <li>
                  <!--検索リンク-->
                  <%= link_to admin_search_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-search"></i>検索
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete,class: "nav-link text-dark" do %>
                  <i class = "fas fa-sign-out-alt"></i>ログアウト
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'ゲストログイン（閲覧用）', guests_guest_sign_in_path, method: :post, class: "nav-link text-dark" %>
                </li>
                <li>
                  <%= link_to about_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-link"></i>About
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-user-plus"></i>新規登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-sign-in-alt"></i>ログイン
                  <% end %>
                </li>
              <% end %>
           </ul>
           
      </nav>
    </header>

    <main>
      
      <%= yield %>
    </main>
    
    <footer style="background-color: #CB914C;">
      <div class = "row d-flex align-items-center justify-content-center">
        Powered by <a href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a>
      </div> 
      <div class = "row d-flex align-items-center justify-content-center">
        Copyright © Favorite Cafe. All Rights Reserved.
      </div> 
    </footer>
    
  </body>
</html>
