<!DOCTYPE html>
<html>
  <head>
    <title>FavoriteCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class = "navbar navbar-expand-lg navbar-dark", style="background-color: #ffe4c4;">
          
          
            <a class = "rogo_image"><%= link_to image_tag('no_image.jpg'),root_path %></a>
          
           <ul class = "navbar-nav ml-auto m-2">
              <% if user_signed_in? %>
                <li>
                  <%= link_to public_users_my_page_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-home"></i>マイページ
                  <% end %>
                </li>
                 <li>
                  <%= link_to new_public_store_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-home"></i>店舗検索
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-dark" do %>
                  <i class = "fas fa-sign-out-alt"></i>ログアウト
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to admin_users_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-address-book"></i>会員一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-sign-out-alt"></i>ログアウト
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to about_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-link"></i>About
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-user-plus"></i>新規登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path, class: "nav-link text-dark" do %>
                  <i class = "fas fa-sign-in-alt"></i>ログイン
                  <% end %>
                </li>
              <% end %>
           </ul>
           
      </nav>
    </header>

    <main><%= yield %></main>
    <footer style="background-color: #ffe4c4;">
      <div class = "row m-3">
        Copyright © Infratop Inc. All Rights Reserved.
      </div>
    </footer>
    
  </body>
</html>
